//Add all custom CSS here


// Globals
html {
  scroll-behavior: smooth;
  height: 100%;
}

::selection {
  background-color: $brand-color;
  color: white;
}

section:nth-child(even) {
  background-color: #f9f9f9;
}

section {
  p {
    font-size: 18px;
    line-height: 33px;
    color: grey;
  }
}


table {
  width: 100%;
  border: 1px solid $brand-color-fade;

  th {
    display: flex;
    width: 100%;
    background: #000;
    padding: 5px;
  }

  tr {
    display: flex;
    padding: 5px;

    td {
      flex: 1 1 20%;
    }

    &:nth-of-type(odd) {
      background: $brand-color-fade;
    }
  }

}








// Header and anvbar
.top-bar {
  background-color: $grey-color;
  display: flex;
  justify-content: space-between;
  height: 42px;
  font-size: 12px;
  font-weight: 600 !important;
  line-height: 10px;
  align-items: center;

  .search-btn {
    height: 100%;
    font-size: 26px;
    background-color: rgb(52, 173, 177);
    cursor: pointer;
  }

  @include media-query($on-hand) {
    display: none;
  }
}

header {
  .navbar-nav {
    display: flex;
    gap: 34px;
    align-items: center;
    z-index: 10;

    .dropdown-menu {
      border: none;
      background-color: $grey-color;
      transition: display 0.3s ease-in-out;

      .dropdown-item {
        color: #bbb;

        &:hover {
          background-color: $grey-color;
          color: white;
        }
      }
    }

    .nav-link {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
    }
  }
}

#scroll-top {
  position: fixed;
  font-size: 30px;
  border: 0;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 60px;
  text-align: center;
  transition: opacity 300ms ease;
  text-decoration: none;

  &.show {
    display: flex;
  }

  span {
    font-size: 12px;
    font-weight: 700;
    width: 100%;
  }
}

.secondary-navbar {
  height: 0;
  padding: 0px !important;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  .navbar-nav {
    gap: 34px;

    a {
      color: #f9f9f9;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
    }
  }

  &.visible {
    height: 70px;
    overflow: visible;
    padding: 10px 0px;
  }
}

// Aside Drawer
.offcanvas-body {
  background-image: url('https://wallpapercave.com/wp/wp8370836.jpg'), linear-gradient(0deg, #222222, #222222);
  background-blend-mode: multiply;
  background-size: cover;
  line-height: 2rem;
  font-size: 16px;
  color: lightgrey;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}

// Slider
.slider-home {
  position: relative;

  .carousel {
    .carousel-caption {
      top: 150px;
      transition-delay: 0.5s;

      h1 {
        font-size: 70px;
      }

      h3 {
        font-size: 20px;
      }
    }

    img {
      height: 80vh;
      object-fit: cover;
      filter: brightness(0.8);
    }

  }

  .container {
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;
    z-index: 10;

    .input-group {
      width: 18%;
    }

    button {
      background-color: $brand-color;
      color: white;
      border: none;
      font-size: 13px;
      font-weight: 600;
      padding: 10px 25px;
    }
  }
}

.slider {
  position: relative;

  .carousel {
    margin: 0 auto;

    .carousel-item {
      .backdrop{
        position: absolute; 
        object-fit:cover; 
        width: 100%; 
        filter: blur(5px);
      }

      img {
        width: 60vw;
        margin: 0px auto;
        object-fit: cover;
        filter: brightness(0.8) blur(0);
      }
    }
  }

  .container {
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;
    z-index: 10;

    .input-group {
      width: 18%;
    }

    button {
      background-color: $brand-color;
      color: white;
      border: none;
      font-size: 13px;
      font-weight: 600;
      padding: 10px 25px;
    }
  }
}



// deals section
.magic-card {
  img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .first-overlay {
    opacity: 1;
    transition: all 0.2s ease;
  }

  .second-overlay {
    opacity: 0;
    backdrop-filter: blur(5px);
    transition: all 0.1s ease;

    div {
      transition: all 0.1s ease;
      transform: translateY(15px);
    }
  }

  &:hover {
    .first-overlay {
      opacity: 0;

    }

    .second-overlay {
      opacity: 1;

      div {
        transform: translateY(0);
      }
    }
  }

}

.reviews {
  display: flex;
  align-items: center;

  .card-body {
    i {
      color: $brand-color;
    }

    p {
      font-weight: 100;
      line-height: 1.5rem;
      font-size: 15px;
    }

    img {
      border-radius: 50%;

    }
  }

}

// section with the sortable
.sortable {
  #filters {
    text-align: center;

    button {
      text-decoration: none;
      color: grey;
      text-transform: uppercase;
      padding-right: 16px;
      font-size: 12px;
      border: transparent 0px;
    }

    button.active {
      color: red;
    }

    button:focus {
      box-shadow: none;
    }
  }

  .view-all {
    background-color: $brand-color;
    color: white;
    border: 2px solid $brand-color;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    padding: 9px 30px;
  }
}

// wide video block

div.wide {
  background-image: url('https://cdn.shopify.com/s/files/1/0354/9161/0668/files/koda_1024x1024.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 80vh;
  position: relative;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    i:hover {
      cursor: pointer;
      transform: scale(1.2);
      transition-duration: 0.1s;
    }
  }
}

//Other info
.accordion {

  .accordion-button:hover,
  .accordion-button:not(.collapsed) {
    color: $brand-color;
    background-color: #f0f0f0;
  }

  .accordion-button:focus {
    background-color: inherit;
    color: $brand-color;
    border: transparent 0px;
    box-shadow: none;
  }
}

//Facts
.facts-carousel {
  .fact {
    padding: 10px;
    margin-top: 20px;
    border: 1px rgb(192, 190, 190) solid;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(red($brand-color), green($brand-color), blue($brand-color), 0.6);
    color: white;

    &::before {
      content: "";
      /* Empty content */
      position: absolute;
      /* Positioned relative to the popup */
      bottom: -10px;
      /* Adjust position as needed */
      left: 50%;
      /* Center horizontally */
      transform: translateX(-50%);
      /* Center within the popup */
      border-width: 10px;
      /* Adjust border width for triangle size */
      border-style: solid;
      border-color: transparent transparent red transparent;
    }
  }

}

// quickbook
.quickbook {
  background-color: $grey-color;
  color: white;

  .container {
    display: flex;
    justify-content: space-between;

    a {
      background-color: $brand-color;
      padding: 10px 15px;
      border-radius: 0;
      color: white;
      font-weight: 500;
    }
  }

}

.listing {
  * {
    border-radius: 0 !important;
    transition: all 0.2s linear;
  }

  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  h3,
  h4,
  h5,
  h6 {
    position: relative;
    display: inline;
    padding-bottom: 2px;
    font-weight: 600;

    &::after {
      content: "";
      position: absolute;
      border: 1px $brand-color solid;
      width: 90%;
      bottom: 0;
      left: 5%;
    }
  }

  p {
    font-size: 14pt;
  }

  .price {
    font-size: 33px;
    color: $brand-color;
    font-weight: 600;
  }

  .stubs {
    font-size: 20px;
    font-weight: 500;

    i {
      color: $brand-color;
      font-size: 25px;
    }
  }

  .feature-card {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    padding: 16px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 5px;

    .feature-name {
      font-size: 14.5pt;
      font-weight: 700;
    }

    .feature-value {
      font-size: 18pt;
      font-weight: 700;
      color: $brand-color;
      word-break: break-word;
    }

    .feature-icon {
      color: $brand-color;
      font-size: 43px;
    }
  }

  .feature-text {
    text-align: center;
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 14px;
    line-height: 110%;
    border: solid 1px #e5e5e5;
    border-top: 0;
  }

  .nav-link {
    padding: 15px 15px 5px 15px;
    font-size: 14px;
    font-weight: 700;
    color: $grey-color-light;
    border: 0 $brand-color !important;
    border-bottom: inherit;
    position: relative;
    text-transform: uppercase;

    &.active {
      border-bottom: 3px $brand-color solid !important;
    }

    &:hover {
      color: #000 !important;
    }
  }

  .tab-content {
    li {
      list-style: none;
      margin-left: 10px;
      position: relative;
    }

    li::before {
      content: "●";
      color: $brand-color;
      font-size: 1.2em;
      position: absolute;
      left: -15px;
      top: -3px;
    }

    td {
      i {
        color: $brand-color;
        font-size: x-large;
        font-weight: 600;
        vertical-align: -0.18em;
        line-height: 0;
      }

      &.value {
        font-weight: 600;
        text-align: center;
      }
    }

    #food-menu b {
      color: $brand-color;
    }

    #activities, #amenities{
      .act,i{
        padding: 5px 10px;
        border: solid 1px $brand-color-fade;
        align-items: center;
        display: flex;
      }
      .act{
        background-color: #f9f9f9;
        flex: 1;
      }
      i{
        background-color: $brand-color-fade;
      }
    }


  }

  .enquiry {
    position: sticky;
    top: 70px;

    form {
      button {
        text-transform: uppercase;
        font-weight: 700;

      }
    }
  }
}


@include media-query($on-hand) {
  header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
  }

  .slider {
    .carousel {
      .carousel-caption {
        top: 150px;

        h1 {
          font-size: 50px;
        }

        h3 {
          font-size: 15px;
        }
      }

      img {
        height: 90vh;
      }
    }

    .container {
      position: unset;
      transform: translate(0, 0);
      font-size: 18px;

      .d-flex {
        flex-direction: column;
        gap: 10px;

        .input-group {
          width: 100%;
        }
      }

      button {
        width: 100%;
      }
    }
  }

  .magic-card {
    padding: 10px;

    .card-img-overlay {
      padding: 30px !important;
    }
  }

  .quickbook {
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

  }

  .listing{
    .nav-tabs{
      justify-content: center;
    }
    td{
      max-width: 70vw;
    }
    td.value {
        max-width: 30vw;
      }
    .card{
      border: none;
    }
  }

}

// Footer
footer {
  color: lightgrey;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    font-weight: 700 !important;
  }

  h5 {
    padding-bottom: 1.7rem;
  }

  a {
    color: lightgrey;

    &:hover {
      color: white;
    }
  }

  .s1 {
    h6 {
      font-weight: 900;
      font-size: 13px;
    }

    i {
      font-size: 16px;
      padding-right: 5px;
    }

    a {
      color: inherit;
    }
  }

  .s4 {
    padding-left: 40px;

    a {
      color: #bbb;
      display: flex;
      align-items: center;
    }

    i {
      font-size: 40px;
      padding-right: 1rem;
    }
  }
}