//Add all custom CSS here


// Globals
html {
  scroll-behavior: smooth;
  height: 100%;
}

::selection {
  background-color: $brand-color;
  color: white;
}


// Header and anvbar
.top-bar {
  background-color: $grey-color;
  display: flex;
  justify-content: space-between;
  height: 42px;
  font-size: 12px;
  font-weight: 600 !important;
  line-height: 10px;
  align-items: center;

  .search-btn {
    height: 100%;
    font-size: 26px;
    background-color: rgb(52, 173, 177);
    cursor: pointer;
  }

  @include media-query($on-hand) {
    display: none;
  }
}

header {
  .navbar-nav {
    display: flex;
    gap: 34px;
    align-items: center;
    z-index: 10;

    .dropdown-menu {
      border: none;
      background-color: $grey-color;
      transition: display 0.3s ease-in-out;

      .dropdown-item {
        color: #bbb;

        &:hover {
          background-color: $grey-color;
          color: white;
        }
      }
    }

    .nav-link {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
    }
  }
}

#scroll-top {
  position: fixed;
  font-size: 30px;
  border: 0;
  bottom: 10px;
  right: 10px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 60px;
  text-align: center;
  transition: opacity 300ms ease;
  text-decoration: none;

  &.show {
    display: flex;
  }

  span {
    font-size: 12px;
    font-weight: 700;
    width: 100%;
  }
}

// Aside Drawer
.offcanvas-body {
  background-image: url('https://wallpapercave.com/wp/wp8370836.jpg'), linear-gradient(0deg, #222222, #222222);
  background-blend-mode: multiply;
  background-size: cover;
  line-height: 2rem;
  font-size: 16px;
  color: lightgrey;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }
}

// Slider
.slider {
  position: relative;

  .carousel {
    .carousel-caption {
      top: 150px;
      transition-delay: 0.5s;

      h1 {
        font-size: 70px;
      }

      h3 {
        font-size: 20px;
      }
    }

    img {
      height: 80vh;
      object-fit: cover;
      filter: brightness(0.8);
    }

  }

  .container {
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;

    .input-group {
      width: 18%;
    }

    button {
      background-color: $brand-color;
      color: white;
      border: none;
      font-size: 13px;
      font-weight: 600;
      padding: 10px 25px;
    }
  }
}

@include media-query($on-hand) {
  .slider {
    .carousel {
      .carousel-caption {
        top: 150px;
  
        h1 {
          font-size: 50px;
        }
  
        h3 {
          font-size: 15px;
        }
      }
      img{
        height: 90vh;
      }
    }
    .container {
      position: unset;
      transform: translate(0, 0);
      font-size: 18px;

      .d-flex {
        flex-direction: column;
        gap: 10px;

        .input-group {
          width: 90%;
        }
      }
    }
  }
}




// Footer
footer {
  color: lightgrey;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    font-weight: 700 !important;
  }

  h5 {
    padding-bottom: 1.7rem;
  }

  a {
    color: lightgrey;

    &:hover {
      color: white;
    }
  }

  .s1 {
    h6 {
      font-weight: 900;
      font-size: 13px;
    }

    i {
      font-size: 16px;
      padding-right: 5px;
    }

    a {
      color: inherit;
    }
  }

  .s4 {
    padding-left: 40px;

    a {
      color: #bbb;
      display: flex;
      align-items: center;
    }

    i {
      font-size: 40px;
      padding-right: 1rem;
    }
  }
}