---
layout: default
permalink: /about-us/
---
<section class="slider mx-auto" height=500>
    <div class=""
        style="background: url('/assets/img/999.webp'); height: 70vh; background-position: center; background-size:cover;">
        <h1 class="text-center text-light h-100 align-center"
            style="font-size: 55px; padding-top: 150px; backdrop-filter: brightness(0.5);">KNOW US BETTER
        </h1>
    </div>
</section>

<div class="about-us">

    <section>
        <div class="container py-5">
            <div class="row gap-4 gap-md-0">
                <div class="col-12 col-md-6 position-relative">
                    <div class="img-decorated"></div>
                    <img class="img-fluid h-100" style="object-fit: cover;" src="/assets/img/stock-2.webp"
                        alt="about ghatstays">
                </div>
                <div class="col-12 col-md-6">
                    <h1>About Ghatstays</h1>
                    <p>
                        Ghatstays is a prominent homestay and resort booking platform based in Karnataka, India,
                        offering a
                        wide
                        array of accommodation options across the region. Specializing in connecting travelers with
                        authentic
                        homestays and luxurious resorts nestled in Karnataka's picturesque landscapes, Ghatstays
                        provides a
                        seamless booking experience through its user-friendly one-page interface.
                        <br>
                        Whether travelers seek a serene retreat amidst nature or a cultural immersion in Karnataka's
                        vibrant
                        communities, Ghatstays caters to diverse preferences, ensuring memorable and personalized
                        experiences
                        for every guest.
                        <br>
                        With a curated selection of properties and comprehensive booking features, Ghatstays
                        facilitates hasslefree reservations, making it a preferred choice for travelers exploring
                        Karnataka's
                        rich heritage and natural beauty.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <div class="row gap-4 gap-md-0 py-4 flex-row-reverse-md">
                <div class="col-12 col-md-6 text-end">
                    <h1 class="right">Our Vision</h1>
                    <p>At Ghatstays, our vision is to become the leading platform for homestay and resort bookings in
                        Karnataka, offering a curated selection of accommodations that showcase the state's rich
                        heritage, natural beauty, and cultural diversity. We aspire to be the trusted companion for
                        travelers seeking unique and authentic experiences, providing seamless booking services,
                        personalized recommendations, and exceptional customer support. Through our commitment to
                        innovation, sustainability, and community engagement, we aim to enrich the travel experiences of
                        our guests while contributing positively to the local economy and environment. Ultimately, we
                        envision Ghatstays as the gateway to unforgettable journeys and lifelong memories in Karnataka.
                    </p>
                </div>
                <div class="col-12 col-md-6 position-relative">
                    <div class="img-decorated" style="right: 0; left: unset"></div>
                    <img src="/assets/img/stock-1.webp" alt="ghatstays vision" class="img-fluid h-100">
                </div>
            </div>
            <div class="row gap-4 gap-md-0 py-4">
                <div class="col-12 col-md-6 position-relative">
                    <div class="img-decorated"></div>
                    <img src="/assets/img/stock-3.webp" alt="ghatstays vision" class="img-fluid h-100">
                </div>
                <div class="col-12 col-md-6 text-start">
                    <h1>Our Mission</h1>
                    <p>Our mission at Ghatstays is to provide travelers with authentic and unforgettable experiences in
                        Karnataka's homestays and resorts. We are committed to offering a diverse range of
                        accommodations, ensuring that every guest finds the perfect setting for their journey. Through
                        our user-friendly platform and personalized service, we aim to make travel seamless and
                        memorable, while also promoting sustainable tourism practices and supporting local communities.
                        At Ghatstays, we believe that every journey should be filled with discovery, connection, and
                        moments to cherish.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-5 achievements">
            <h1>What We've Achieved</h1>
            <div class="row py-4">
                <div class="owl-carousel">
                    {% for award in site.data.awards %}
                    <div class="item">
                        <div class="card border-0 rounded-0">
                            <div class="card-body p-0">
                                <img src="{{ award.image }}" alt="{{ award.alt }}" class="card-img-top">
                                <div class="p-4">
                                    <h3>{{ award.title }}</h3>
                                    <p class="date">{{ award.date }}</p>
                                    <p class="description">{{ award.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section style="background: url('/assets/img/forest.jpg'); background-size: cover;">
        <div class="container py-5 services">
            <div class="text-center pb-5">
                <h1 class="center">Our Services</h1>
            </div>
            <div class="row justify-content-center">
                {% for service in site.data.services %}
                <div class="col-6 col-md-3">
                    <div class="flipper m-2">
                        <div class="flipper-card">
                            <div class="flipper-front">
                                <h5 class="text-center fw-bold">{{ service.name }}</h5>
                            </div>
                            <div class="flipper-back"><span
                                    class="text-center p-3 text-dark">{{ service.description }}</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="container py-5">
            <h1>Our Team</h1>
            <div class="row gap-4 gap-md-0 justify-content-center">
                <div class="col-12 col-md-4">
                    <div class="member">
                        <img src="/assets/img/team/srujan-jain.webp" class="img-fluid py-3">
                    </div>
                    <div class="text-center">
                        <h4 class="text-primary fw-bold">Srujan Jain</h4>
                        <span class="fw-bold">CEO</span>
                    </div>
                </div>
                <div class="col-12 col-md-2"></div>
                <div class="col-12 col-md-4">
                    <div class="member">
                        <img src="/assets/img/team/deepak-bharadwaj.webp" class="img-fluid py-3">
                    </div>
                    <div class="text-center">
                        <h4 class="text-primary fw-bold">Deepak Bharadwaj</h4>
                        <span class="fw-bold">Digital Sales</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-5">
            <div class="row gap-4 gap-md-0 flex-row-reverse-md">
                <div class="col-12 col-md-5 d-flex align-items-center">
                    <img src="/assets/img/team/ceo.webp" alt="CEO Srujan Jain" class="img-fluid">
                </div>
                <!-- <div class="col-12 col-md-1"></div> -->
                <div class="col-12 col-md-7 d-flex flex-column justify-content-center">
                    <h1 class="mb-5">Message from the CEO</h1>
                    <p class="quote">
                        As we journey forward in our mission to provide unparalleled experiences in Karnataka's
                        homestays and resorts, I am thrilled to extend my heartfelt gratitude to each of you. At
                        Ghatstays, we are driven by a passion for hospitality and a commitment to creating unforgettable
                        memories for our guests.<br>
                        Our vision for Ghatstays goes beyond being just a booking platform; we aim to be a trusted
                        companion in your exploration of Karnataka's diverse landscapes and cultures. Whether you seek
                        tranquility amidst the lush greenery of Coorg, adventure in the Western Ghats, or the rich
                        heritage of Hampi, we are here to make your journey seamless and memorable.<br>
                        As CEO, I am dedicated to ensuring that Ghatstays continues to innovate and exceed expectations.
                        We are constantly expanding our offerings, refining our services, and nurturing our partnerships
                        with homestays and resorts across Karnataka. Our one-page booking interface reflects our
                        commitment to simplicity and convenience, ensuring that your experience with Ghatstays is smooth
                        from start to finish. <br>
                        I encourage you to explore our website, discover new destinations, and embark on unforgettable
                        journeys with Ghatstays. Your feedback and support are invaluable to us as we strive to enhance
                        our platform and enrich your travel experiences. Thank you for choosing Ghatstays, and I look
                        forward to serving you on your next adventure.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <section class="py-5">
    <div class="row gap-4 gap-md-0">
        <div class="col-12 col-md-6"></div>
        <div class="col-12 col-md-6"></div>
    </div>
</section> -->