---
layout: default
title: Location
ameneties: [Power Backup,Refrigerator,Wi-Fi,Laundry,Parking,Balcony,Kettle,Conforence Room,Smoking Area,Cafeteria,Shower,Event Organizing ,Hot Water]
activities: [Bonfire & Music, Mud Games, Chess, Estate Walk, Badmiton, Cricket, Carrom, Vollyball, Nature Walk,Trekking, Bird Watch, Jeep-ride]
locations: ["Kyathanmakki Hills Station (3.5km)","Doddannashetti Caves (4km)","Panchamikallu View Point (13km)","Horandu Temple(7km)","Kalasa Temple(15km)","Ambatheertha(14km)","Hanging Bridge(16km)","Soormane Falls(17km)","Samse Tea Estate(21km)","Elaneer Falls(23km)","Kudremukh (34km)"]
---

{% include slider.html %}
<section class="listing">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card rounded-0 border- p-2 p-md-5">
                    <div class="d-md-flex d-block justify-content-between">
                        <h1>Gaaligudda Heavens Retreat</h1>
                        <span class="price">₹1,999</span>
                    </div>
                    <div class="col-12 col-md-9 d-block d-md-flex justify-content-between stubs">
                        <div><i class="bi bi-pin-map-fill"></i> Kudremukh</div>
                        <div>Rating: {% for item in (1..5) %}<i class="bi bi-star-fill"></i> {% endfor %}</div>
                    </div>
                    <div class="mt-5">
                        <h3 class="fs-5">About the stay</h3>
                        <p class="py-3">Et quia aperiam et deleniti ab ut. Non ab enim consequuntur. Nulla dolor aut
                            itaque vel quis. Id et facere est sequi aut rerum. Id ea aliquid et quasi atque. Aperiam eum
                            fugiat vero magni.<br>
                            Natus et repudiandae minima veniam. Doloribus veniam omnis error. Voluptatem voluptas
                            tenetur et architecto expedita corrupti ea. Necessitatibus aut ut omnis. Placeat non soluta
                            amet eius nihil eaque non exercitationem. Accusantium vero sint culpa cupiditate nostrum.
                        </p>
                        <div class="row">
                            <div class="col-12 col-md-3  p-1">
                                <div class="feature-card">
                                    <span class="feature-name">District</span>
                                    <span class="feature-value">Chikmagalur</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-3  p-1">
                                <div class="feature-card">
                                    <span class="feature-name">Total Occupancy</span>
                                    <span class="feature-value">20</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-3  p-1">
                                <div class="feature-card">
                                    <span class="feature-name">Rooms</span>
                                    <span class="feature-value">4</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-3  p-1">
                                <div class="feature-card">
                                    <span class="feature-name">Stay Type</span>
                                    <span class="feature-value">Home Stay</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="fs-5">Accomodation Types</h3>
                        <div class="row py-4 justify-content-center">
                            <div class="col-12 col-md-4 p-1">
                                <div class="feature-card">
                                    <span class="feature-icon"><i class="bi bi-shop"></i></span>
                                    <span class="feature-name">2 Standard Room</span>
                                </div>
                                <div class="row" style="margin: 0px">
                                    <p class="col-6 feature-text">8 people</p>
                                    <p class="col-6 feature-text">4 double beds</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-1">
                                <div class="feature-card">
                                    <span class="feature-icon"><i class="bi bi-house-door"></i></span>
                                    <span class="feature-name">1 Basic Room</span>
                                </div>
                                <div class="row" style="margin: 0px">
                                    <p class="col-6 feature-text">4 people</p>
                                    <p class="col-6 feature-text">2 double beds</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 p-1">
                                <div class="feature-card">
                                    <span class="feature-icon"><i class="bi bi-shop"></i></span>
                                    <span class="feature-name">1 Dormitory Room</span>
                                </div>
                                <div class="row" style="margin: 0px">
                                    <p class="col-6 feature-text">8 people</p>
                                    <p class="col-6 feature-text">4 double beds</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="fs-5">Pricing</h3>
                        <div class="row py-4 justify-content-center">
                            <div class="col-12 col-md-5 p-2">
                                <div class="feature-card">
                                    <span class="feature-name">BASIC PACKAGE</span>
                                    <span class="price">1499</span>
                                </div>
                                <p class="col feature-text p-4">Stay | Activities | Breakfast | Hi-tea | Veg Snacks</p>
                            </div>
                            <div class="col-12 col-md-5 p-2">
                                <div class="feature-card">
                                    <span class="feature-name">STANDARD PACKAGE</span>
                                    <span class="price">2199</span>
                                </div>
                                <p class="col feature-text p-4">Stay | Activities | All Meals | Hi-tea | Veg Snacks</p>
                            </div>
                            <div class="col-12 col-md-5 p-2">
                                <div class="feature-card">
                                    <span class="feature-name">COUPLE PACKAGE</span>
                                    <span class="price">2499</span>
                                </div>
                                <p class="col feature-text p-4">Stay | Activities | All Meals | Hi-tea | Veg Snacks</p>
                            </div>
                            <div class="col-12 col-md-5 p-2">
                                <div class="feature-card">
                                    <span class="feature-name">DORMITORY</span>
                                    <span class="price">2899</span>
                                </div>
                                <p class="col feature-text p-4">Stay | Activities | All Meals | Hi-tea | Veg Snacks</p>
                            </div>
                            
                        </div>
                    </div> 
                    <ul class="nav nav-tabs" id="infoTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="amenities-tab" data-bs-toggle="tab" href="#amenities" role="tab"
                                aria-controls="amenities" aria-selected="true">
                                amenities
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="activities-tab" data-bs-toggle="tab" href="#activities" role="tab"
                                aria-controls="activities" aria-selected="false">
                                activities
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nearby-places-tab" data-bs-toggle="tab" href="#nearby-places" role="tab"
                                aria-controls="nearby-places" aria-selected="false">
                                Nearby places
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="food-menu-tab" data-bs-toggle="tab" href="#food-menu" role="tab"
                                aria-controls="food-menu" aria-selected="false">
                                Food Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tnc-tab" data-bs-toggle="tab" href="#tnc" role="tab"
                                aria-controls="tnc" aria-selected="false">
                                T&C
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cancellation-tab" data-bs-toggle="tab" href="#cancellation" role="tab"
                                aria-controls="cancellation" aria-selected="false">
                                cancellation policy
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content mx-md-5 my-2" id="myTabContent">
                        <div class="tab-pane fade show active" id="amenities" role="tabpanel" aria-labelledby="amenities-tab">
                            <div class="row py-3" style="color: dimgray;">
                                {% for amenity in page.ameneties %}
                                <div class="col-6">
                                    <div class="d-flex h-100">
                                    <i class="bi bi-fire "></i>
                                    <div class="act">{{ amenity }}</div>
                                </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="activities" role="tabpanel" aria-labelledby="activities">
                            <div class="row py-3" style="color: dimgray;">
                                {% for activity in page.activities %}
                                <div class="col-6">
                                    <div class="d-flex h-100">
                                    <i class="bi bi-fire "></i>
                                    <div class="act">{{ activity }}</div>
                                </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nearby-places" role="tabpanel" aria-labelledby="nearby-places">
                            <div class="row py-1" style="color: dimgray;">
                                {% for place in page.locations %}
                                <div class="col-md-4 col-6 py-1">
                                    <span style="color: #e83f53">●</span> {{place}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="food-menu" role="tabpanel" aria-labelledby="food-menu">
                            <div class="row text-center">
                                <div class="col-4 d-flex flex-column">
                                    <b>Breakfast</b>
                                    <span>Item 1</span>
                                    <span>Item 2</span>
                                    <span>Item 3</span>
                                    <span>Item 4</span>
                                </div>
                                <div class="col-4 d-flex flex-column">
                                    <b>Lunch</b>
                                    <span>Item 1</span>
                                    <span>Item 2</span>
                                    <span>Item 3</span>
                                    <span>Item 4</span>
                                </div>
                                <div class="col-4 d-flex flex-column">
                                    <b>Dinner</b>
                                    <span>Item 1</span>
                                    <span>Item 2</span>
                                    <span>Item 3</span>
                                    <span>Item 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tnc" role="tabpanel" aria-labelledby="tnc">
                            <table>
                                <tr>
                                    <td><span><i class="bi bi-check"></i></span>Flexible Check-In*:</td>
                                    <td class="value">Yes</td>
                                </tr>
                                <tr>
                                    <td><span><i class="bi bi-check"></i></span>Pets Friendly:</td>
                                    <td class="value">No</td>
                                </tr>
                                <tr>
                                    <td><span><i class="bi bi-check"></i></span>Smoking Area:</td>
                                    <td class="value">Yes</td>
                                </tr>
                                <tr>
                                    <td><span><i class="bi bi-check"></i></span>Couple Friendly:</td>
                                    <td class="value">Yes</td>
                                </tr>
                                <tr>
                                    <td><span><i class="bi bi-check"></i></span>Check In/Out Time:</td>
                                    <td class="value">12:00PM - 11:00AM</td>
                                </tr>
                            </table>
                            <div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="cancellation" role="tabpanel" aria-labelledby="cancellation">
                                <ul class="pt-3 m-0">
                                    <li>If a customer cancels their stay within 0 to 5 days of check-in, no refund will
                                        be issued.</li>
                                    <li>If a customer cancels their stay within 6 to 14 days of check-in, a 50% refund
                                        will be issued.</li>
                                    <li>If a customer cancels their stay within 15 to 30 days of check-in, a 75% refund
                                        will be issued.</li>
                                    <li>If a customer cancels their stay 30 days or earlier from check-in, a 100% refund
                                        will be issued.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 pt-2 pt-md-0">
                <div class="card rounded-0 p-4 enquiry">
                    <div class="card-body">
                        <h2 class="text-center pb-3 fs-3 fw-bolder">BOOK THIS STAY</h2>
                        <form class="d-flex flex-column" onsubmit="(e)=>{e.preventDefault()}">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Full Name" aria-label="Name"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="bi bi-person-fill"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="mail" class="form-control" placeholder="Email ID" aria-label="email"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="bi bi-envelope-at-fill"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Contact Number"
                                    aria-label="phone number" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="bi bi-telephone-fill"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Alternate Ccntact"
                                    aria-label="phone number" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="bi bi-telephone-fill"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="No. of Adults"
                                    aria-label="no of aduts" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="bi bi-people-fill"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="No. of Children"
                                    aria-label="no of children" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="bi bi-people-fill"></i></span>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Preferred Check-In" aria-label="message"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"><i
                                        class="bi bi-pencil-fill"></i></span>
                            </div>
                            <button type="submit" class="btn btn-danger py-2 mb-3">Book Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% include suggested.html %}