---
layout: default
title: Stays
permalink: /stays
image: /assets/img/999.jpg
---

<section class="slider mx-auto" height=500>
    <div class="" style="background: url('/assets/img/999.jpg'); height: 70vh; background-position: center;">
        <h1 class="text-center text-light h-100 align-center"
            style="font-size: 55px; padding-top: 150px; backdrop-filter: brightness(0.5);">AT HOME <br>WHEREVER YOU GO
        </h1>
    </div>
</section>

<section></section>

<section class="py-5 stays">
    <div class="px-md-5 px-2">
        <div class="row">
            <div class="col-3 d-md-block d-none">
                <div class="position-stickyscrollable">
                    <h3>Filters</h3>
                    <div class="accordion" id="filter1">
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header" id="filter1Header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Filter By Location
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#filter1">
                                <div class="accordion-body">
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f11" name="f11">
                                        <label for="f11">Chikmagalur</label>
                                    </div>
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f11" name="f11">
                                        <label for="f11">Coorg</label>
                                    </div>
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f11" name="f11">
                                        <label for="f11">Horanadu</label>
                                    </div>
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f11" name="f11">
                                        <label for="f11">Kudremukh</label>
                                    </div>
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f11" name="f11">
                                        <label for="f11">Mudigere</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" id="filter2">
                        <div class="accordion-item rounded-0">
                            <h2 class="accordion-header" id="filter2Header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    User Rating
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                                data-bs-parent="#filter2">
                                <div class="accordion-body">
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f21" name="f21">
                                        <label for="f21">4.5+ Stars</label>
                                    </div>
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f22" name="f22">
                                        <label for="f22">4+ Stars</label>
                                    </div>
                                    <div class="col" style="padding: 5px 0;">
                                        <input type="checkbox" id="f23" name="f23">
                                        <label for="f23">3+ Stars</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="wide-equal px-2">
                    <div>
                        <h2 id="entry">All Locations</h2>
                        <span class="count"><span id="staysCount">No</span> stays available</span>
                    </div>
                    <div>
                        <div class="btn border rounded-1 d-md-none" style="float:right; font-size: 12px" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#filterOffCanvas" aria-controls="Filters">
                            <span class="fa-solid fa-filter"></span> FILTERS
                        </div>
                        <div>
                            <select id="sort-options">
                                <option>Sort By</option>
                                <option value="price_asc">Price ↓</option>
                                <option value="price_desc">Price ↑</option>
                                <option value="rating">User Ratings</option>
                                <option value="visitor_count">Visitor Count</option>
                              </select>
                        </div>
                    </div>
                </div>
                <div class="stays-grid">
                    {% for stay in site.stays%}
                    <div class="card my-4 my-md-2 stay-item {{stay.area}}" {{stay.area}} iso-price="{{stay.price}}">
                        <div class="row p-3">
                            <div class="col-12 col-md-5">
                                <a href="{{stay.url}}"><img src="{{stay.cover_image}}" alt=""></a>
                            </div>
                            <div class="col-12 col-md-7 pt-md-0 pt-3">
                                <div class="wide-equal pb-3">
                                    <div>
                                        <a href="{{stay.url}}">
                                            <h4 class="iso-title">{{stay.title}}</h4>
                                        </a>
                                        User Rating: {% for item in (1..stay.rating) %}<i class="fa-solid fa-star"></i>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <span class="price"><a href="{{stay.url}}#pricing">{{stay.price}}</a></span>
                                    </div>
                                </div>
                                <div class="d-flex gap-2">
                                    {% for a in stay.ameneties | limit: 4 %}
                                    <div class="d-flex flex-column text-center feature">
                                        <a href="{{stay.url}}#amenities">
                                            <span class="{{a[0]}}"></span>
                                            <p>{{a[1]}}</p>
                                        </a>
                                    </div>
                                    {% endfor %}
                                    <div class="flex-column text-center feature d-none d-md-flex">
                                        <a href="{{stay.url}}#amenities">
                                            <span>+{{stay.ameneties | size }}</span>
                                            <p>more</p>
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <a href="{{stay.url}}#book" class="button" style="float:right">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<div class="offcanvas offcanvas-start d-md-none w-75" tabindex="-1" id="filterOffCanvas" aria-labelledby="Filters">
    <div class="d-inline">
        <button type="button" class="btn-close text-reset float-end p-2" data-bs-dismiss="offcanvas"
            aria-label="Close Filters"></button>
    </div>
    <h3 class="m-3">Filters</h3>
    <div class="accordion" id="locationFilter">
        <div class="accordion-item rounded-0">
            <h2 class="accordion-header" id="locationFilterHeader">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLocationFilter"
                    aria-expanded="true" aria-controls="collapseLocationFilter">
                    Filter By Locations
                </button>
            </h2>
            <div id="collapseLocationFilter" class="accordion-collapse collapse show" aria-labelledby="locationFilterHeading"
                data-bs-parent="#locationFilter">
                <div class="accordion-body">
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f11" name="f11">
                        <label for="f11">Chikmagalur</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f11" name="f11">
                        <label for="f11">Coorg</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f11" name="f11">
                        <label for="f11">Horanadu</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f11" name="f11">
                        <label for="f11">Kudremukh</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f11" name="f11">
                        <label for="f11">Mudigere</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="accordion" id="filter1">
        <div class="accordion-item rounded-0">
            <h2 class="accordion-header" id="filter1Header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Popular Filters
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#filter1">
                <div class="accordion-body">
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f11" name="f11">
                        <label for="f11">Child Friendly</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f12" name="f12">
                        <label for="f12">Has Wifi</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f13" name="f13">
                        <label for="f13">Parking Available</label>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="filter2">
        <div class="accordion-item rounded-0">
            <h2 class="accordion-header" id="filter2Header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    User Rating
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                data-bs-parent="#filter2">
                <div class="accordion-body">
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f21" name="f21">
                        <label for="f21">4.5+ Stars</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f22" name="f22">
                        <label for="f22">4+ Stars</label>
                    </div>
                    <div class="col" style="padding: 5px 0;">
                        <input type="checkbox" id="f23" name="f23">
                        <label for="f23">3+ Stars</label>
                    </div>

                </div>
            </div>
        </div>
    </div> -->
</div>

