<section class="slider-home">
    <video autoplay loop muted>
        <source src="/assets/img/video/home.webm" type="video/webm">
    </video>
    <div id="carouselExampleControls" class="carousel slide caption-fade" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: 80vh">
            <div class="carousel-item active" data-bs-interval="3000">
                <div class="carousel-caption">
                    <h3>LIVE AT</h3>
                    <h1>Amazing Green Spaces</h1>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="carousel-caption">
                    <h3>EXPLORE</h3>
                    <h1>Refreshing Outdoor Treks</h1>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <div class="carousel-caption">
                    <h3>EXPERIENCE</h3>
                    <h1>Naturally Healing Calmness</h1>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container d-flex">
        <div class="card rounded-0 px-3 border-0 mx-auto">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center gap-3">
                    <span class="border-end pe-3 d-none d-lg-block">Find your<br> <b>Destination</b></span>
                    <!-- <span class="d-md-block d-none">When</span>
                    <div class="input-group">
                        <select class="form-select rounded-0" id="inputGroupSelect01">
                            <option selected>Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                        </select>
                        <span class="input-group-text rounded-0" id="basic-addon2"><i class="fa-regular fa-calendar-check"></i></span>
                    </div> -->
                    <span class="d-md-inline d-none">Where</span>
                    <div class="input-group w-100">
                        <select class="form-select rounded-0" id="destinationSelect">
                            <option value="" selected>Destination</option>
                            <option value="Chikmagalur">Chikmagalur</option>
                            <option value="Coorg">Coorg</option>
                            <option value="Horanadu">Horanadu</option>
                            <option value="Kudremukh">Kudremukh</option>
                            <option value="Mudigere">Mudigere</option>
                            <option value="Sakleshpur">Sakleshpur</option>
                        </select>
                        <span class="input-group-text rounded-0"><i class="fa-solid fa-earth-americas"></i></span>
                    </div>
                    <span class="d-md-block d-none">What</span>
                    <div class="input-group w-100">
                        <select class="form-select rounded-0" id="typeSelect">
                            <option value="" selected>Stay Type</option>
                            <option value="Homestay">Homestay</option>
                            <option value="Resort">Resort</option>
                        </select>
                        <span class="input-group-text rounded-0"><i class="fa-solid fa-rocket"></i></span>
                    </div>
                    <button onclick="submit()">SEARCH</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function submit() {
        const location = document.querySelector("#destinationSelect").value;
        const type = document.querySelector("#typeSelect").value;
        window.location.href = `/stays?location=${location}&type=${type}`;
    }
</script>