<section class="slider mx-auto">
    <div class="owl-carousel stay-carousel owl-theme">
        {% assign image_files = site.static_files | where: "image", true%}
        {% for img in image_files %}
        {% if img.path contains page.images_src %}
        <div class="item">
            <a href="{{img.path}}" data-toggle="lightbox" data-gallery="{{page.title}}" data-caption="{{page.title}}">
                <img src="{{img.path}}" alt="{{page.keywords}}">
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>

<!-- {% assign image_files = site.static_files | where: "image", true%}
{% for img in image_files %}
{% if img.path contains 'green space' %}
<div class="carousel-item {% if forloop.index == 1 %}active{% endif %}" data-bs-interval="3000">
    <img src="{{img.path}}" alt="Gaaligudda" height=300>
</div>
{% endif %} -->
<!-- {% endfor %} -->