<section class="slider mx-auto" height=500>
    <div id="carouselExampleControls" class="carousel slide caption-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for i in page.images %}
            <div class="carousel-item {% if forloop.index == 1 %}active{% endif %}" data-bs-interval="3000">
                <img src="{{i}}" alt="Gaaligudda" class="backdrop">
                <img src="{{i}}" alt="Gaaligudda" class="fore mx-auto d-flex">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>