<section class="py-5">
    <div class="container">
        <h1>Suggested Stays</h1>
        <div class="owl-carousel">
            {% for stay in site.stays reversed %}
            <div class="item">
                <div class="card explore-stays rounded-0 m-2 {% if stay.exclusive == true %}exclusive{% endif %}">
                    <a href="{{stay.url}}">
                        <img class="rounded-0 card-img-top" src="{{stay.cover_image}}"
                            alt="{{stay.keywords}}">
                    </a>
                    <div class="card-body p-4">
                        <div class="stay-title">
                            <a href="{{stay.url}}">
                                <h5 class="card-title fs-4 text-dark" >{{stay.title}}</h5>
                            </a>
                        </div>
                        <div class="d-flex gap-2 py-2">
                            <div class="row">
                                <div class="d-flex justify-content-between">
                                    <p class="fs-6">{{stay.stay-type}}</p>
                                    <span class="text-primary px-2 py-1 fw-bold" style="width: max-content"><i class="fa-solid fa-location-dot"></i> {{stay.area}}</span>
                                </div>
                                <div class="d-flex" style="gap: 6rem">
                                    <span class="fs-6 text-center"><i class="fa-solid fa-bed"></i> {{stay.rooms}} Rooms </span> 
                                    <span class="fs-6 text-center"><i class="fa-solid fa-users"></i> {{stay.total-occupancy}} Guests </span>
                                </div>
                            </div>
                        </div>
                        <hr class="my-3">
                        <div class="d-flex justify-content-between gap-3 align-items-center">
                            <a href="tel:+918904451931" class="btn btn-outline-primary rounded-0 d-md-none"><i
                                    class="fa-solid fa-phone"></i> Enquire</a>
                            <a href="{{stay.url}}"
                                class="btn btn-primary rounded-0 text-light d-md-block"> VIEW STAY </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>