<section class="py-5">
    <div class="container">
        <h1>Suggested Stays</h1>
        <div class="owl-carousel">
            {% for stay in site.stays%}
            <div class="item">
                <div class="card rounded-0 m-2">
                    <img class="rounded-0"
                        src="{{stay.images[0]}}"
                        class="card-img-top" alt="{{stay.title}}">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title text-dark">{{ stay.title }}</h5>
                            <h5 class="text-primary">{{ stay.price }}</h5>
                        </div>
                        <div class="d-flex gap-2 pb-3">
                            <h6 class="text-dark"><i class="bi bi-house-door"></i></h6>
                            <h6> {{ stay.stay-type }} </h6>
                        </div>
                        <span class="card-text" style="font-size: 14px">{{stay.description | truncatewords: 50}}
                        </span>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <div>{% for star in (1..stay.rating ) %}<i class="bi bi-star-fill"></i> {% endfor %}</div>
                            <div><i class="bi bi-person"></i>{{stay.total-occupancy}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>